@import "../assets/variables"
@import "../assets/main"

.blog-header
  background-image: url("../img/banner/b19.jpg")

#blog
  padding: 150px 150px 0 150px

  .blog-box
    padding-bottom: 90px

    h1
      top: -40px
      left: 0
      font-size: 70px
      font-weight: 700
      color: #c9cbce
      z-index: -9

    .blog-img
      margin-right: 40px

      img
        height: 470px
        object-fit: cover

    .blog-details a
      color: $dark
      font-size: 11px
      font-weight: 700
      text-decoration: none
      transition: 0.3s

      &::after
        content: ""
        width: 50px
        height: 1px
        background-color: $dark
        position: absolute
        top: 4px
        right: -60px

      &:hover
        color: $secondaryColor

      &:hover::after
        background-color: $secondaryColor



